  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #d32f2f;
  }
  
  .buttons {
    margin-top: 0px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative; /* Agrega esta línea */
    z-index: 1000; /* Agrega esta línea */
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative; /* Agrega esta línea */
    z-index: 1000; /* Agrega esta línea */
  }
  